<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<html lang="en" xmlns:ht="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Login Page</h1>

<th:block th:if="${#lists.isEmpty(userName)}">

<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<!--<a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>-->

</th:block>

<th:block th:if="not ${#lists.isEmpty(userName)}">

    <h4 th:text=" ${userName}" ></h4>

</th:block>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>