<!DOCTYPE html>
<html layout:decorator="layout/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to-do-list</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          rel="stylesheet"/>
    <script crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
</head>
<body>

<th:block th:if="${#lists.isEmpty(userName)}">
    <h1>Login Page</h1>
    <a class="btn btn-success active" href="/oauth2/authorization/google" role="button">Google Login</a>
    <a class="btn btn-secondary active" href="/oauth2/authorization/naver" role="button">Naver Login</a>

</th:block>

<th:block th:if="not ${#lists.isEmpty(userName)}">

    <h4 th:text=" ${userName}"></h4>

    <div style="margin-left: +1rem">
        <th:block th:if="not ${#lists.isEmpty(boardList)}">
            <div th:each="board: ${boardList}">
                <a th:href="@{board/{boardId}(boardId=${board.getId()})}" th:id="|boardView${board.getId()}|"
                   th:text="${board.getBoardName()}"></a>
                <input style="display: none" th:id="|editBoardNameInput${board.getId()}|" th:value="${board.getBoardName()}"
                       type="text">
                <input th:id="|board${board.getId()}|" th:value="${board.getBoardName()}" type="hidden">
                <input style="width: 60px; height: 20px; text-align: center; font-size: 10px" th:id="|editBoardNameButton${board.getId()}|"
                       th:onclick="|javascript:updateBoardMode('${board.getId()}')|" type="button"
                       value="UPDATE">
                <input style="display: none; width: 50px; height: 20px; text-align: center; font-size: 10px" th:id="|saveBoardNameButton${board.getId()}|"
                       th:onclick="|javascript:updateBoard('${board.getId()}')|" type="button"
                       value="SAVE">
                <input style="width: 20px; height: 20px; text-align: center; font-size: 10px" th:onclick="|javascript:deleteBoard('${board.getId()}')|" type="button"
                       value="X">
            </div>
        </th:block>


        <div style="margin-top: +1rem">
            <input class='btn btn-link btn-sm order-1 order-lg-0' style='background-color: #d6d6d6; color: black' th:id="|addBoardButton|"
                   th:onclick="|javascript:addBoardMode()|" type="button"
                   value='+ Add another board'>
            <input id="addBoardNameInput" style="display: none" type="text">
            <input class='btn btn-link btn-sm order-1 order-lg-0' style='background-color: #d6d6d6; color: black; display: none' th:id="|saveBoardButton|" th:onclick="|javascript:saveBoard()|"
                   type="button" value='SAVE'>
        </div>

    </div>

</th:block>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>